<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-3 mx-auto w-50">
        <div class="container mb-4 p-4">
            <h1 class="mb-4">New Ninja</h1>
            <form action="/add_ninja/{{dojo.id}}" method="post">
                {% csrf_token %}
                <!-- <div class="mb-3 form-group d-flex align-items-center">
                    <label for="dojo" class="form-label col-2">Dojo:</label>
                    <select class="form-select" name="dojo">
                            <option value=""></option>
                        {% for dojo in dojos %}
                            <option value="{{dojo.id}}">{{dojo.name}}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <input type="hidden" name="dojo" value="{{dojo.id}}">
                <div class="mb-3 form-group d-flex align-items-center">
                    <label for="first_name" class="form-label col-2">First Name:</label>
                    <input type="text" class="form-control" name="first_name">
                </div>
                <div class="mb-3 form-group d-flex align-items-center">
                    <label for="last_name" class="form-label col-2">Last Name:</label>
                    <input type="text" class="form-control" name="last_name">
                </div>
                <button class="btn btn-primary mr-3 mb-3" value="Add Ninja">Add Ninja</button>
            </form>
            <a href="/">Home</a>
        </div>
    </div>
</body>
</html>